* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #0f172a;
  color: white;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  padding: 20px;
  border-radius: 8px 8px 0 0;
}

nav {
  border-bottom: 2px solid hsl(221, 100%, 58%);
  border-radius: 10px;
  max-width: fit-content;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  padding: 1rem 4rem;
}

h1 {
  color: magenta;
  font-style: italic;
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 3rem;
  padding: 0;
}
nav a {
  color: rgb(183, 169, 255);
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
  color: #763bff;
}
nav ul li:nth-child(even) a {
  color: #8b5cf6;
}
